@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: black;
    --text-color: white;
    --link-color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--background-color);
    font-family: sans-serif;
    color: var(--text-color);

    height: 92vh;

    display: flex;

    margin: 30px;
}

button {
    border: none;
    border-radius: 20px;

    padding: 10px 20px;

    background-color: transparent;
    color: var(--text-color);
    border: 1px solid;
    border-color: white;
}

button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

input[type="file"] {
    display: none;
}

#main {
    width: 100%;

    display: flex;
    flex-direction: row;

    gap: 20px;
}

.card {
    border: 1px solid;
    border-color: white;
    border-radius: 10px;

    padding: 10px;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

#video {
    flex: 1.12;
    position: relative;
}

#video #fileLabel {
    border: none;
    border-radius: 20px;

    padding: 10px 20px;

    text-align: center;
    font-size: 14px;

    background-color: transparent;
    color: var(--text-color);
    border: 1px solid;
    border-color: white;
}

#video #fileLabel:hover {
    background-color: var(--text-color);  
    color: var(--background-color);
}

#video > div {
    margin-bottom: 50px;
    flex: 1;
}

#preview {
    margin-top: 10px;
    border-radius: 20px;
    max-width: 630px;
    height: 350px;
}

#previewDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#menu {
    display: flex;

    justify-content: space-around;
    align-items: start;

    flex: 2;
}

#processBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

#transcriptContainer {
    display: flex;
    flex-direction: column;
    flex: 1;

    max-height: 100%;
}

#transcriptContainer > p {
    margin: 0;
    margin-bottom: 10px;
}

#transcript {
    max-height: 97%;
}

#transcript #timestamp {
    border: none;

    color: var(--link-color);

    font-weight:600;

    margin: 0;
    margin-right: 20px;
    padding: 2px 4px;
}

#transcript #timestamp:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

#timestampDiv {
    align-items: start;
}
